@model PagedList.IPagedList<projectCK.Models.MonHoc>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSV.cshtml";
}

<link href="~/Content/using.css" rel="stylesheet">
<link href="~/Content/Uploads/PhanTrang.css" rel="stylesheet">
<style>
    .fi {
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 14px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .timkhoa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tim-1 {
        margin: 0 10px;
        width: 30%;
    }

    .text-end {
        display: flex;
        align-items: center;
    }

    .form-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nutbam {
        margin: 0 10px;
    }

    .new {
        display: flex;
        align-items: center;
    }

    .antuong-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .text-end-1 .thep {
        margin: 0 10px;
    }

    .thep p {
        position: relative;
    }

    .nutbam--1 {
        background-color: #37497e;
    }

    .xuatfile {
        border-radius: 10px;
        background-color: #fff;
        padding: 10px 16px;
        text-align: center;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
    }

    .header-content {
        display: flex;
        align-items: center;
    }

    .nut-xuat-file {
        float: right;
    }

    .thetim {
        display: flex;
        align-items: center;
    }
    select {
        border: none;
        outline: none;
        background-color: transparent;
        list-style: none;
        text-align: center;
        font-family: Cambria;
        font-weight: bold;
        color: aliceblue;
    }

    option {
        color: black;
    }
</style>
<div class="card d-flex">

    <div class="card-header mb-3">

        <div class="form-wrapper">
            <div class="header-content">
                <strong style="font-size:30px;" class="text-uppercase">Danh sách môn học</strong>
            </div>
            <div class="text-end">
                <div>
                    <a href="@Url.Action("Trash", "MonHocs")" class="nutbam nutbam--1">
                        Thùng rác
                    </a>
                </div>
                <div>
                    <a class="nutbam nutbam--1" id="themmon" data-bs-toggle="modal" data-bs-target="#mdlExam">
                        Thêm
                    </a>
                </div>
                <div class="xuatfile">
                    @using (Html.BeginForm("XuatFile", "MonHocs", FormMethod.Post, htmlAttributes: new { @class = "antuong-content" }))
                    {

                        <div class="d-flex">
                            <select class="form-select" id="StudentGender" name="file">
                                <option value="1">Excel</option>
                                <option value="2">Word</option>
                                <option value="3">PDF</option>
                            </select>
                        </div>
                        <div><button class="nutbam nutbam--1 nut-xuat-file">Xuất file</button></div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="thetim">
        <div class="input-group d-flex">
            <div class="form-outline">
                <input id="search" type="search" class="form-control" placeholder="Nhập tên môn học để tìm kiếm" />
            </div>
            <div>
                <button type="button" class="btn btn-primary" style="background-color: #37497e;">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <div class="input-group d-flex">
            <div class="timkhoa1 mb-0">
                @using (Html.BeginForm("TimDrop", "MonHocs", FormMethod.Post, new { @class = "form-a" }))
                {
                    <div class="new">
                        <div class="nutbam nutbam--1">
                            @Html.DropDownList("MaKhoa", "Tất cả")
                        </div>
                        <div><input type="submit" value="Tìm kiếm" class="nutbam nutbam--1" /> </div>
                    </div>
                }
            </div>
            <div>



            </div>
        </div>

        <div class="tim-2">
            @using (Html.BeginForm("Import", "MonHocs", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-a" }))
            {
                <div class="new">
                    <div>
                        <input type="file" name="file" class="fi" />
                    </div>
                    <div><input type="submit" value="Nhập file excel" class="nutbam nutbam--1" /></div>
                </div>
            }
        </div>
    </div>

    <div class="card-body p-3">
        <table class="table table-bordered table-hover" id="result">
            <thead>
                <tr align='center'>
                    <th class="text-center">Mã môn học</th>
                    <th  class="text-center">Tên môn học</th>
                    <th class="text-center">Số tiết lý thuyết</th>
                    <th class="text-center">Số tiết thực hành</th>
                    <th class="text-center">Số tín chỉ</th>
                    <th  class="text-center">Tên khoa</th>
                    <th  align="center">Chức năng</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="@item.MaMH">
                    <td class="text-center">@item.MaMH</td>
                    <td class="text-center">@item.TenMH</td>
                    <td class="text-center">@item.SoTietLT</td>
                    <td class="text-center">@item.SoTietTH</td>
                    <td class="text-center">@item.STC</td>
                    <td class="text-center">@item.Khoa.TenKhoa</td>
                    <td class="text-center">
                        <a id="sua" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#mdlExam">
                            <i class="bi bi-brush"></i>
                        </a>
                        <a href="@Url.Action("DelTrash", new { id = item.MaMH })" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <table class="table table-bordered table-hover table-a" id="search-result" style="display:none">
            <thead>
                <tr align='center'>
                    <th>Mã môn học</th>
                    <th>Tên môn học</th>
                    <th>Số tiết lý thuyết</th>
                    <th>Số tiết thực hành</th>
                    <th>Số tín chỉ</th>
                    <th>Tên khoa</th>
                </tr>
            </thead>
            <tbody id="main-data">
            </tbody>
        </table>
    </div>
</div>
<a href="@Url.Action("Index", "MonHocs")">
   
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
     
</a>
<script type="text/javascript">


    function Xoa(id) {
        location = `/MonHocs/DelTrash/${id}`;
    }

     function LoadDropKhoa(a) {
        $.ajax({
            url: "@Url.Action("GetKhoa", "MonHocs")",
            type: "get", //pt get
            dataType: "json",
success: function (data) {
                // convert string to JS object
                var obj = JSON.parse(data);
                // lấy topic id đầu tiên gán cho txtTopicID
               //$('#giatrian').val(obj[0]['MaKhoa'])
                console.log(obj);
                $("#select").empty();
                if (a == "") {
                    for (var i = 0; i < obj.length; i++) {
                        let makhoa = obj[i]["MaKhoa"];
                        $("#select").append("<option value=" + makhoa + " >"+ obj[i]["TenKhoa"] + "</option>");
                    }
                }
                else
                {
                    for (var i = 0; i < obj.length; i++) {
                        let makhoa = obj[i]["MaKhoa"];
                        console.log(makhoa);
                        if (a == makhoa)
                        {
                            $("#select").append("<option value=" + makhoa + " selected='selected'>"
                                + obj[i]["TenKhoa"] + "</option>");
                        }
                        else
                        {
                            $("#select").append("<option value=" + makhoa + ">"
                                + obj[i]["TenKhoa"] + "</option>");
                        }
                    }
                }
            }
        });
    }
    $(document).on('click', '#sua', function () {
        var trid = $(this).closest('tr').attr('id');
        console.log(trid);
        get(trid);
        $("#kiemtra").val(trid);
        $("#txtMa").attr('readonly', true);
    });
    function get(mamon) {
        $.ajax({
            url: "@Url.Action("Getdata1", "MonHocs")",
            type: "get", //pt get
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                id: mamon   //truyền tham số có giá trị bằng id makhoa
            },
            success: function (data) {
                var q = jQuery.parseJSON(data); // ép về kiểu javascrip
                console.log(q);
                $('#txtMa').val(q[0]['MaMH']);// gán vulue cho ô input txt
                $('#txtTen').val(q[0]['TenMH']);
                $('#STC').val(q[0]['STC']);
                $('#STLT').val(q[0]['SoTietLT']);
                $('#STTH').val(q[0]['SoTietTH']);
                $('#kiemtra1').val(q[0]['MaKhoa']);
                var a = $('#kiemtra1').val();
                console.log("biến a là:" +a);
                LoadDropKhoa(a);
            }
        });
    }
    $(document).on('click', '#themmon', function () {
        $('#txtMa').attr("readonly", false);
        $('#txtTen').val('');
        $('#STC').val('');
        $('#STLT').val('');
        $('#STTH').val('');
        $('#kiemtra').val('');
        var a = $('#kiemtra1').val();
        LoadDropKhoa(a);
    });

        $(document).on('click', '#btnSubmit', function () {
        let makhoakiemtra = $('#kiemtra').val();
        let mamon = $('#txtMa').val();
        let tenmon = $('#txtTen').val();// lấy giá trị của txtarea có id là txtTenChudDe gán cho biến tenchude
        let STC = $('#STC').val();
        let STLT = $('#STLT').val();
        let STTH = $('#STTH').val();
        let khoa = $('#select').val();
        console.log(khoa);
        if (mamon.length == 0 || khoa.length == 0) {
            alert("Vui lòng nhập đầy đủ thông tin");
            return;
        }
            if (makhoakiemtra.length == 0) {
                $.ajax({
                    url: "@Url.Action("AddData", "MonHocs")",
                    type: "post",
                    data: {
                        mm: mamon,
                        tm: tenmon,
                        stc: STC,
                        stlt: STLT,
                        stth: STTH,
                        makhoa: khoa
                    },
                    success: function (data) {
                        alert(data);
                        location.reload();
                    }
                });
            }
              else {
            $.ajax({
                url: '@Url.Action("EditData", "MonHocs")',
                type: 'post',
                data: {
                    mm: mamon,
                    tm: tenmon,
                    stc: STC,
                    stlt: STLT,
                    stth: STTH,
                    makhoa: khoa
                },
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
        });
      $(document).ready(function () {
        var inputElement = document.querySelector("#search");
        console.log(inputElement);
        inputElement.oninput = function (e) {
            console.log(e.target.value);
            search(e.target.value);
        }
    });
    function search(keyword) {
        $.ajax({
             url: '@Url.Action("Getdata3", "Monhocs")',
            type: 'post',
            data: {
                id: keyword,
            },
            success: function (data) {
               var q = JSON.parse(data)
                var htmldata = create(q)
                if (keyword) {
                    $("#result").css("display", "none");
                    $("#search-result").css("display", "table");
                    $("#view-bag").css("display", "none");
                    $(".pagination").css("display", "none");
                    $("#main-data").html(htmldata);
                } else {
                    $("#result").css("display", "table");
                    $("#search-result").css("display", "none");
                    $("#view-bag").css("display", "flex");
                    $(".pagination").css("display", "flex");
                }
            }
            });
    }
    function create(data) {
        let rows = [];

        console.log(data);
        for (var i = 0; i < data.length; i++)
        {
           
            let row = `<tr id="${data[i]["MaMH"]}" class="dbname">
          <td> ${data[i]["MaMH"]} </td>
        <td> ${data[i]["TenMH"]} </td>
        <td>${data[i]["SoTietLT"]}</td>
<td>${data[i]["SoTietTH"]}</td>
<td>${data[i]["STC"]}</td>
        <td>${data[i]["TenKhoa"]}</td>
        <td align="center"><a id="sua" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#mdlExam"><i class="bi bi-brush"></i> </a>
       <button class="btn btn-danger" onclick="Xoa('${data[i]['MaNganh']}')">Xóa</button>
</td>
        </tr>`;
 if (data[i]["TenMH"]) {
                rows.push(row);
            }
        }
        return rows;
    }

</script>

<div class="modal" id="mdlExam">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <!-- Modal Header -->
                <div class="card-header d-flex" style="justify-content:space-between; align-items:center">
                    <h4 class="modal-title" id="mdlExamLabel">Môn học</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">  
                    </button>
                </div>

                <!-- Modal body -->
                <div class="card-body" style="display: flex;flex-direction: column;align-items: center; justify-content:center">

                    <form action="Create">
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Mã môn học</label>
                            <textarea  class="form-control" name="makhoa" id="txtMa" rows="1" onkeydown="kt()"></textarea>
                            <span id="name-check"></span>
                        </div>
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Tên môn học</label>
                            <textarea  class="form-control" id="txtTen" rows="1" onkeydown="kt()"></textarea>
                            <span id="ten-check"></span>
                        </div>
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Số tiết lý thuyết</label>
                            <textarea  class="form-control" id="STLT" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Số tuyết thực hành</label>
                            <textarea  class="form-control" id="STTH" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Số tín chỉ</label>
                            <textarea class="form-control" id="STC" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Khoa</label>
                            <select class="form-select" id="select" aria-label="Default select example">
                            </select>
                            <input type="hidden" id="kiemtra" value="">
                            <input type="hidden" id="kiemtra1" value="">
                        </div>
                    </form>
                </div>



                <!-- Modal footer -->
                <div class="modal-footer" style="display:flex; justify-content:center">
                    <a class="nutbam nutbam--1" id="btnSubmit">Xác nhận</a>
                    <button class="nutbam nutbam--1" data-bs-dismiss="modal">Trở về</button>
                </div>

            </div>
        </div>
    </div>
</div>